--find-links https://download.pytorch.org/whl/cu113/torch_stable.html
torch >= 2.0.0
lightning >= 2.0.0
torchvision
jsonargparse[signatures] # for CLI

transformers
scikit-learn
datasets
evaluate

# dev tools
jupyterlab
shtab
